{% extends '_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}Admin{% endblock %}

{# ------------------------------------------------- #}
{% block main %}

    <div id="adminIndexContainer">

        <div id="adminIndexMain">

            <h1>
                (Admin Page)
            </h1>

            <h2>Students</h2>

            <table>
                <tr>
                    <th>First name</th>
                    <th>Surname</th>
                    <th>Current Belt Grading</th>
                    <th>Next Belt Grading Syllabus</th>
                    <th>Current Status</th>
                    <th>Required Status</th>
                    <th>Next Grading</th>
                    <th>Admin</th>
                </tr>

                {% for student in students %}
                    <tr>
                        <!--calls from the Student.php class the following methods-->
                        <td>{{ student.firstName }}</td>
                        <td>{{ student.surname }}</td>
                        <td>{{ student.currentBeltGrade }}</td>
                        <td>{{ student.nextBeltGradingSyllabus }}</td>
                        <td>{{ student.currentStatus }}</td>
                        <td>{{ student.requiredStatus }}</td>`
                        <td>{{ student.nextGrading }}</td>
                        <td>{{ student.role }}</td>
                    </tr>
                {% endfor %}

            </table>

        </div>

        <aside>
            <ul>
                <li>
                    <a href="/addStudent" class="{% block addStudentLinkStyle %}{% endblock %}">Add</a>
                </li>
                <li>
                    <a href="/removeStudent" class="{% block removeStudentLinkStyle %}{% endblock %}">Remove</a>
                </li>
                <li>
                    <a href="/updateStudent" class="{% block updateStudentLinkStyle %}{% endblock %}">Update</a>
                </li>
            </ul>
        </aside>

    </div>

{% endblock %}