{% extends '_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}Admin{% endblock %}

{# ------------------------------------------------- #}
{% block main %}

    <div id="adminIndexContainer">

        <div id="adminIndexMain">

            <h1>
                (Admin Page)
            </h1>

            <h2>Students</h2>

            <table>
                <tr>
                    <th>First name</th>
                    <th>Surname</th>
                    <th>Current Belt Grading</th>
                    <th>Next Belt Grading Syllabus</th>
                    <th>Current Status</th>
                    <th>Required Status</th>
                    <th>Next Grading</th>
                    <th>Admin</th>
                </tr>

                {% for student in students %}
                    <tr>
                        <!--calls from the Student.php class the following methods-->
                        <td>{{ student.firstName }}</td>
                        <td>{{ student.surname }}</td>
                        <td>{{ student.currentBeltGrade }}</td>
                        <td>{{ student.nextBeltGradingSyllabus }}</td>
                        <td>{{ student.currentStatus }}</td>
                        <td>{{ student.requiredStatus }}</td>`
                        <td>{{ student.nextGrading }}</td>
                        <td>{{ student.admin }}</td>
                    </tr>
                {% endfor %}

                    {#<tr>
                        <td><input type="text" name="firstName"></td>
                        <td><input type="text" name="surname"></td>
                        <td><input type="text" name="currentBeltGrading"></td>
                        <td><input type="text" name="nextBeltGradingSyllabus"></td>
                        <td><input type="text" name="currentStatus"></td>
                        <td><input type="text" name="requiredStatus"></td>
                        <td><input type="text" name="nextGrading"></td>
                        <td><input type="text" name="admin"></td>
                    </tr>#}
            </table>

    {#            <td class="studentCRUDButton"><input type="button" value="Edit"></td>
                <td class="studentCRUDButton"><input type="button" value="Delete"></td>
                <td class="studentCRUDButton"><input type="button" value="Add"></td>#}

        </div>

        <aside>
            <ul>
                <li>
                    <a href="/addStudent" class="{% block addStudentLinkStyle %}{% endblock %}">Add</a>
                </li>
                <li>
                    <a href="/removeStudent" class="{% block removeStudentLinkStyle %}{% endblock %}">Remove</a>
                </li>
                <li>
                    <a href="/editStudent" class="{% block editStudentLinkStyle %}{% endblock %}">Edit</a>
                </li>
            </ul>
        </aside>

    </div>

{% endblock %}