{% extends '_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}Remove Student{% endblock %}

{# ------------------------------------------------- #}
{% block removeStudentLinkStyle %}current_page{% endblock %}

{# ------------------------------------------------- #}

{% block main %}

    <div id="removeStudentContainer">

        <div id="removeStudentMain">

            <h1>
                (Remove Student Page)
            </h1>

            <h2>Students</h2>

            <table>
                <tr>
                    <th>Id</th>
                    <th>First name</th>
                    <th>Surname</th>
                    <th>Current Belt Grading</th>
                    <th>Next Belt Grading Syllabus</th>
                    <th>Current Status</th>
                    <th>Required Status</th>
                    <th>Next Grading</th>
                    <th>Admin</th>
                    <th></th>
                </tr>

                <!--calls from the Student.php class the following methods-->
                {% for student in students %}
                    <tr>
                        <td>{{ student.id }}</td>
                        <td>{{ student.firstName }}</td>
                        <td>{{ student.surname }}</td>
                        <td>{{ student.currentBeltGrade }}</td>
                        <td>{{ student.nextBeltGradingSyllabus }}</td>
                        <td>{{ student.currentStatus }}</td>
                        <td>{{ student.requiredStatus }}</td>`
                        <td>{{ student.nextGrading }}</td>
                        <td>{{ student.role }}</td>
                        <td><a href="removeStudentForm/{{ student.id }}">Remove</a></td>
                    </tr>
                {% endfor %}

            </table>
        </div>

    </div>

{% endblock %}