{% extends '_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}Update Student{% endblock %}

{# ------------------------------------------------- #}
{% block updateStudentLinkStyle %}current_page{% endblock %}

{# ------------------------------------------------- #}

{% block main %}

    <div id="updateStudentContainer">

        <div id="updateStudentMain">

            <h1>
                (update Student Page)
            </h1>

            <h2>Students</h2>

                <table>
                    <tr>
                        <th>Id</th>
                        <th>First name</th>
                        <th>Surname</th>
                        <th>Current Belt Grading</th>
                        <th>Next Belt Grading Syllabus</th>
                        <th>Current Status</th>
                        <th>Required Status</th>
                        <th>Next Grading</th>
                        <th>Admin</th>
                        <th></th>
                    </tr>

                    <!--calls from the Student.php class the following methods-->
                    {% for student in students %}
                        <form method="post" action="/updateStudentForm">
                            <tr>
                                <td><input type="text" name="id" value="{{ student.id }}"></td>
                                <td><input type="text" name="firstName" value="{{ student.firstName }}"></td>
                                <td><input type="text" name="surname" value="{{ student.surname }}"></td>
                                <td><input type="text" name="currentBeltGrading" value="{{ student.currentBeltGrade }}"></td>
                                <td><input type="text" name="nextBeltGradingSyllabus" value="{{ student.nextBeltGradingSyllabus }}"></td>
                                <td><input type="text" name="currentStatus" value="{{ student.currentStatus }}"></td>
                                <td><input type="text" name="requiredStatus" value="{{ student.requiredStatus }}"></td>`
                                <td><input type="text" name="nextGrading" value="{{ student.nextGrading }}"></td>
                                <td><input type="text" name="role" value="{{ student.role }}"></td>
                                <td><input type="submit" name="Update" value="Update"></td>
                            </tr>
                        </form>
                    {% endfor %}

                </table>

        </div>

    </div>

{% endblock %}